# Site settings
title: "Andile Boussari – Portfolio Systèmes & Réseaux"
email: andileboussari@gmail.com
description: >-
  Portfolio professionnel d’Andile Boussari : labs techniques, projets en
  administration systèmes & réseaux et cybersécurité.
twitter_username: ""
github_username: andile-boussari
minimal_mistakes_skin: default
search: true

# Adresse de ton site GitHub Pages
url: "https://andile-boussari.github.io"
baseurl: ""

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes

# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone:

include:
  - _pages

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Andile Boussari"
  avatar : "/assets/images/bio-photo.jpg"
  bio: >
  <ul>
    <li>Administrateur systèmes & réseaux</li>
    <li>Cybersécurité</li>
    <li>Passionné de veille technologique & labs</li>
  </ul>

  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Andile-Boussari"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/andile-boussari"
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:andileboussari@gmail.com"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Andile-Boussari"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/andile-boussari"
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:andileboussari@gmail.com"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/

tag_archive:
  type: liquid
  path: /tags/
